:root {
    --primario-footer: #DA7B60;
    --secundario: #4e9469;
    --terciario: #31AEC0;
    --terciario-sombra: #069dd3;


    --font: 'Nunito', sans-serif;
    --font2: 'Roboto', sans-serif;
}

/* TODO: COSAS A SACAR del style original */
/* .single_footer h4 {
    font-weight: 700;
    }

    .copyright{
            border-top: 1px solid rgba(255, 255, 255, 0.4); 
    }
    .social_profile ul li a {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .subscribe__input {
        color: #333;
    }
    */



/* Termina cosas que reemplazar o sacar del style original */
.logo{
    width: 3rem;
}
.loguitos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos{
    width: 4rem;
}
@media (min-width: 769px) {
    .logos{
        width: 6rem;
    }
}
.adopcion{
    background-color: #31AEC0;
}
.logo-adopte{
    width: 4rem;
    left: 1rem;
    display: none;
}
.perrito-adopte{
    width: 4rem;
    right: .5rem;
    bottom: -1px;
}
@media (min-width: 568px) {
    .logo-adopte{
        display: block;
        width:5rem;
        left: 3rem;
    }
    .perrito-adopte{
        width: 8rem;
        right: 2rem;
        bottom: -1px;
    }
}
@media (min-width: 768px) {
    .logo-adopte{
        width:7rem;
        left: 5rem;
    }
    .perrito-adopte{
        width: 10rem;
        right: 5rem;
        bottom: -1px;
    }
}

.animales-adopcion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.animales-adopcion-ind{
    width: 13rem;
    height: 9rem;
    margin: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}
.presentacion{
    font-weight: bolder;
}
.linkPaginas{
    width: 50rem;
}