/* Agregar al style.css */
input[type="text"] {
    outline: none;
}
.bg-negro{
    background-color: #000;
}
.logo{
    width: 3rem;
}
.card-imagen-copia {
    object-fit: contain;
    width: 100%;
    height: 25vh;
}
/* Linea 101 */
.height-copia {
    height: 15rem;
}
@media (min-width: 768px) {
    .height-copia {
        height: 20rem;
    }
}
@media (min-width: 768px) {
    .fuente__pequeña{
        font-size: 1rem;
    }
}

/* Carrito */
.widhtCard{
    width: 24rem;
}