:root {
    --white: #f0ede8;
    --blank: #000;
    --primario: #31AEC0;
    --primario-black: #f1741a;
    /* --primario-black: #f1741a; */
    --secundario: #4e9469;
    --terciario: #31AEC0;
    --terciario-sombra: #069dd3;


    --font: 'Nunito', sans-serif;
    --font2: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
a {
    color: var(--white);
    text-decoration: none!important;
    font-weight: 600;
    font-family: var(--font2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font2);
}

p {
    font-family: var(--font);
}

img {
    max-width: 100%;
    height: auto;
}

input[type="search"] {
    outline: none;
}
input[type="text"] {
    outline: none;
    background-color: transparent;
}
input[type="text"]::placeholder {
    color: var(--white);
    font-weight: 600;
    font-family: var(--font);
    outline: #f0ede8;
}


/* Index */
.patitas-bg{
    background-image: url(../img/imgIndex/patitas.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right center;
}
/* clases */
.fuente__pequeña {
    font-size: 13px;
}

.vwValue {
    height: 17vw;
    object-fit: cover;
}
.value{
    height: 13vh;
    object-fit: cover;
}
@media (min-width: 768px) {
    .value{
        width: 100%;
        height: auto;
    }
}

.objContain {
    object-fit: contain;
}


.bg-primario {
    background-color: var(--primario);
}

.bg-primario-black {
    background-color: var(--primario-black);
}

.bg-blanco {
    background-color: var(--white);
}

.bg-terciario {
    background-color: var(--terciario);
}

.bg-terciario-sombra {
    background-color: var(--terciario-sombra);
}
.text-terciario{
    color: var(--terciario);
}

.border-terciario {
    border-bottom: 2px solid;
}

.height {
    height: 20rem;
}

.card-imagen {
    object-fit: contain;
    width: 100%;
    height: 25vh;
}

.line {
    line-height: 0;
}

.card-hover {
    position: relative;
}

.card-hover:hover>.text-hidden {
    color: rgba(48, 47, 47, 0.685);
    transition: .3s linear;
    padding: .5rem 1rem;
    width: 100%;
    background-color: #fff;
}

.card-hover:hover>.text-hidden p {
    font-size: 14px;
}

.card-hover:hover>.text-hidden h5 {
    font-size: 12px;
}

.text-hidden {
    transition: .3s linear;
    padding: .5rem 1rem;
}

.text-hidden>h5 {
    font-size: 0;
}

.text-hidden>p {
    font-size: 0;
}

.flex-auto {
    flex: 100%;
}

.fs-7 {
    font-size: 12px;
}

.notFound {
    width: 50%;
}

/* Footer */
#sfooter {
    font-size: 16px;
    font-weight: bolder;
}

.footer {
    background: var(--secundario);
    padding-top: 24px;
    padding-bottom: 40px;
}

.footercontact {
    background: var(--secundario);
}

/*END FOOTER SOCIAL DESIGN*/
@media only screen and (max-width:768px) {
    .single_footer {
        margin-bottom: 30px;
    }
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.single_footer ul li a {
    font-weight: 300;
}
.single_footer ul li a:hover {
    color: var(--primario-black);
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.subscribe__input {
    border: medium none;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

@media only screen and (max-width:768px) {
    .subscribe__input {
        padding: 0 50px 0 20px;
    }
}

.subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: var(--secundario);
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.subscribe__btn i {
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width:768px) {
    .subscribe__btn {
        right: 0px;
    }
}

.subscribe__btn:hover i {
    color: var(--terciario);
}

/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
    margin-top: 40px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: var(--blank);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width:768px) {
    .social_profile ul li a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:480px) {
    .social_profile ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.social_profile ul li a:hover {
    background: #0002;
    border: 1px solid var(--primario);
    color: var(--secundario);
    border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: var(--blank);
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: var(--primario);
}

/* contact */
.justificado {
    text-align: justify !important;
}


/* Cambios hechos por Gonza */
/* Agregar al style.css */
input[type="text"] {
    outline: none;
}

.bg-negro {
    background-color: #000;
}

.logo {
    width: 3rem;
}

.card-imagen-copia {
    object-fit: contain;
    width: 100%;
    height: 25vh;
}

/* Linea 101 */
.height-copia {
    height: 15rem;
}

@media (min-width: 768px) {
    .height-copia {
        height: 20rem;
    }
}

@media (min-width: 768px) {
    .fuente__pequeña {
        font-size: 1rem;
    }
}

/* Carrito */
.widhtCard {
    width: 24rem;
}

/* border */
.border-top-orange{
    border-top: 1px solid var(--primario);
}
.border-orange{
    border: 1px solid var(--primario);
}
.active{
    text-shadow: 2px 1px 1px #0007;
}
/* Hover para la seccion mascotas */
.hoverPet:hover{
    color: #000;
}
.hover-shawdon:hover{
    box-shadow: 0px 0px 3px 1px black;
}

/* Footer */
.copyright{
    border-top: 1px solid var(--primario) !important; 
}
.social_profile ul li a {
    border: 1px solid var(--primario-black);
}
.subscribe__input {
    background-color: var(--terciario);
}
.seccionProducto__index{
    width: 5rem;
}
.seccionProducto__productos{
    width: 5rem;
    padding: .5rem;
}
@media (min-width: 768px) {
    .seccionProducto__productos{
        width: 4.7rem;
        padding: .5rem;
    }
}
@media (min-width: 1200px) {
    .seccionProducto__index{
        width: 150px;
    }
    .seccionProducto__productos{
        width: 114px;
        padding: 1.1rem 0;
    }
}

/* Seccion productos */
.fs-per{
    font-size: 13px;
}
@media (min-width: 768px) {
    .fs-per{
        font-size: 16px;
    }
}

/* Index Home */
.bienvenida{
    width: 15rem;
}
.animacionBienvenida{
    width: 5Drem;
}
.z-index{
    z-index: 1;
}
.z-index2{
    z-index: 2;
}
.animacionBienvenida{
    width: 6rem;
}
/* Details adopcion */
.adoptarWidth{
    width: 100%;
}
@media (min-width: 768px) {
    .bienvenida{
        width: 20rem;
        left: 2%;
        bottom: -25px;
    }
    .animacionBienvenida{
        width: 7rem;
    }
    .adoptarWidth{
        width: 80%;
    }
}
@media (min-width: 1000px) {
    .bienvenida{
        width: 20rem;
        left: 12%;
        bottom: -25px;
    }
    .adoptarWidth{
        width: 60%;
    }
}
@media (min-width: 1600px) {
    .adoptarWidth{
        width: 70%;
    }
}

/* Agregando estilos cambiosdecolorNAV.css */
.logo{
    width: 3rem;
}
.loguitos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos{
    width: 4rem;
}
@media (min-width: 769px) {
    .logos{
        width: 6rem;
    }
}
.adopcion{
    background-color: #31AEC0;
}
.logo-adopte{
    width: 4rem;
    left: 1rem;
    display: none;
}
.perrito-adopte{
    width: 4rem;
    right: .5rem;
    bottom: -1px;
}
@media (min-width: 568px) {
    .logo-adopte{
        display: block;
        width:5rem;
        left: 3rem;
    }
    .perrito-adopte{
        width: 8rem;
        right: 2rem;
        bottom: -1px;
    }
}
@media (min-width: 768px) {
    .logo-adopte{
        width:7rem;
        left: 5rem;
    }
    .perrito-adopte{
        width: 10rem;
        right: 5rem;
        bottom: -1px;
    }
}

.animales-adopcion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.animales-adopcion-ind{
    width: 13rem;
    height: 9rem;
    margin: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}
.linkPaginas{
    width: 50rem;
}
.rounder-per{
    border-radius: 1rem;
}

.z-index-0{
    z-index: 0;
}
.descuento{
    width: 4rem;
}