<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="Ayudamos a encontrar la mejor solución para tus problemas, las 24hs del dia para responder tus dudas o tus malos momentos.">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="shortcut icon" href="../img/loguitos/favicon.svg" type="image/x-icon">


    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- css -->

    <link rel="stylesheet" href="../css/style.css">


    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <title>101Apatita - Producto</title>
</head>

<body>
    <div id="app" class="d-flex flex-column vh-100">
        <header>
            <section class="bg-primario-black">
                <div class="container d-flex justify-content-between text-light py-1">
                    <p class="m-0 fw-bold">EN</p>
                    <div class="d-flex">
                        <a class="me-3" href=""><img src="../img/icon/instagram.svg" alt="Instagram"></a>
                        <a class="me-3" href=""><img src="../img/icon/facebook.svg" alt="Facebook 101Apatita"></a>
                        <a class="me-3" href=""><img src="../img/icon/linkedin.svg" alt="Linkedin 101Apatita"></a>
                        <a href=""><img src="../img/icon/dogAdopta.svg" alt="Adopta 101Apatita"></a>
                    </div>
                </div>
            </section>
        </header>
        <nav class="position-sticky top-0 start-0 end-0 navbar navbar-expand-lg navbar-light z-index p-0">
            <div class="d-md-flex flex-md-column shadow justify-content-between w-100">
                <div class="bg-primario-black py-2 py-lg-1">
                    <div class="container d-flex justify-content-between flex-wrap">
                        <a class="navbar-brand" href="../index.html"><img class="logos"
                                src="../img/loguitos/logo_nuevo.png" alt="Logo 101Patitas"></a>
                        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <img src="../img/icon/menu.svg" alt="Menu hamburguesa">
                        </button>

                        <div class="d-flex align-items-center">
                            <form class="">
                                <div class="d-flex rounded-pill position-relative">
                                    <input class="fw-bold fuente__pequeña rounded-pill border-0 px-4 py-2 me-2"
                                        type="search" placeholder="Search" aria-label="Search">
                                    <button class="border-0 rounded-pill px-4 position-absolute bottom-0 top-0 end-0"
                                        type="submit"><img src="../img/icon/search.svg" alt="Buscador search"></button>
                                </div>
                            </form>

                            <a class="d-none d-lg-block ms-3 btn btn bg-primario rounded-pill" href="#"><img
                                    src="../img/icon/user.svg" alt="User Login"></a>
                            <div class="position-relative ms-2">
                                <div class="dropdown">
                                    <button class="btn bg-primario rounded-pill dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="../img/icon/carrito.svg" alt="Carrito compra">
                                    </button>

                                    <ul class="dropdown-menu widhtCard px-3" aria-labelledby="dropdownMenuButton1">
                                        <div class="text-dark" v-for="productoAdd in cesta">
                                            <li class="d-flex justify-content-start align-items-center my-2">

                                                <img class="logo" :src="productoAdd.producto.imagen"
                                                    :alt="productoAdd.producto.nombre">

                                                <span
                                                    class="px-2 fw-bold text-light bg-primary mx-2 rounded-1">{{productoAdd.cant}}</span>

                                                {{productoAdd.producto.nombre}} - ${{productoAdd.cant *
                                                productoAdd.producto.precio}}

                                                <button
                                                    class="px-2 pb-1 btn-danger ms-2 text-light fw-bold rounded-circle"
                                                    @click.stop="quitarCesta(productoAdd.producto._id)">x</button>
                                            </li>
                                        </div>

                                        <a class="border-top text-dark nav-link py-2" href="#"><b>Total:</b>
                                            ${{cestaTotal}}</a>
                                        <div v-if="cesta.length > 0">
                                            <a href="./seccionTarjeta.html"
                                                class="fw-bold btn btn-success w-100">Comprar Producto</a>
                                        </div>
                                    </ul>
                                </div>
                                <div class="position-absolute top-0">
                                    <p class="px-2 bg-white rounded-circle fuente__pequeña fw-bold">{{cantTotal}}</p>
                                </div>
                            </div>
                            <p class="text-light my-0 ms-2 d-none d-lg-block btn bg-primario rounded-pill">
                                ${{cestaTotal}}</p>

                        </div>
                    </div>
                </div>

                <section class="bg-primario collapse navbar-collapse" id="navbarScroll">
                    <div class="container d-flex m-auto align-items-center justify-content-center flex-wrap py-2 row">
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/shopping.svg" alt="Productos">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="./juguetes.html"><img class="mb-1 me-2"
                                            src="../img/iconosNav/toys.svg" alt="Productos de juguetes"> Juguetes</a>
                                </li>
                                <li><a class="dropdown-item" href="./medicamentos.html"><img class="mb-1 me-2"
                                            src="../img/iconosNav/medicine.svg" alt="Productos de medicina">
                                        Medicina</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="./productos.html">
                                        <img class="mb-1 me-2" src="../img/iconosNav/allProducts.svg"
                                            alt="Todos los productos">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/cat.svg" alt="Productos Gatos">
                                Gatitos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Proximamente</a></li>

                            </ul>
                        </li>
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/fish.svg" alt="Productos">
                                Pez
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Proximamente</a></li>

                            </ul>
                        </li>
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/bird.svg" alt="Productos">
                                Pajaritos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Proximamente</a></li>

                            </ul>
                        </li>
                        <a class="text-light col-6 col-md-2 d-md-flex justify-content-md-end"
                            href="./promocionesbancarias.html">
                            <div class="btn rounded-pill bg-primario-black text-light">
                                <img class="mb-1" src="../img/iconosNav/roedores.svg" alt="Contactos">
                                Promociones
                            </div>
                        </a>
                        <a class="nav-link text-light col-6 col-md-2" href="./contacto.html">
                            <div class="btn rounded-pill bg-primario-black text-light">
                                <img class="mb-1" src="../img/iconosNav/otros.svg" alt="Contactos">
                                Contactanos
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </nav>
        <main class="container flex-auto position-relative">
            <section v-if="errorCard">
                <h2 class="text-start fw-bold fs-5 my-5 border-bottom border-2 border-terciario pb-2">101Apatita <img
                    src="../img/icon/arrow.svg" alt="Arrow section"> <span class="text-danger">Algo salio mal.</span></h2>
                <h3 class="fs-6">Estamos sufriendo turbulencias, estamos trabajando duro. Vamos arreglar esto lo más pronto posible para solucionar el problema</h3>
                <p>Hasta mientras ingrese a nuestro catalogo completo.</p>
                <a class="btn btn-success" href="./productos.html">Ingrese aquí</a>
                <img class="position-absolute bottom-0" src="../img/loguitos/nocompres_gif.gif" alt="Perrito animado no adopte">
            </section>
            <section v-else class="row my-5">
                <div class="col-md-6">
                    <img class="card-details" :src="cardProduct.imagen" :alt="cardProduct.nombre">
                </div>
                <div class="col-md-6">
                    <h1 class="text-start fw-bold fs-7 pb-2">Producto
                        <img src="../img/icon/arrow.svg" alt="Arrow section">
                        <span class="text-secondary">{{cardProduct.tipo}}</span>
                        <img src="../img/icon/arrow.svg" alt="Arrow section">
                        <span class="text-secondary">{{cardProduct.nombre}}</span>
                    </h1>

                    <div>
                        <h2>{{cardProduct.nombre}}</h2>
                        <h3 class="text-primario">${{cardProduct.precio}} <span v-if="cardProduct.precio > 600" class="fs-6 mb-3 text-success">Envio gratis</span></h3>
                        <div class="row border-1 align-items-center border-top mt-3">
                            <p class="col-md-9 pt-2">{{cardProduct.descripcion}}</p>
                            <div class="d-none d-md-block col-md-3">
                                <img class="logos1 px-2 py-2 rounded-circle bg-primario"
                                    src="../img/loguitos/logoAnimado.svg" :alt="cardProduct.nombre">
                            </div>
                        </div>

                        <div class="border-1 pt-2 border-top d-flex justify-content-between w-100">
                            <h2 class="fs-7 ">Stock:</h2>
                            <span class="fs-7">{{cardProduct.stock > valorCompra ? cardProduct.stock - valorCompra : 'Stock no disponible'}}</span>
                        </div>

                        <div class="border-1 pt-2 border-top d-flex justify-content-between w-100">
                            <h2 class="fs-7 ">Categoria:</h2>
                            <span class="fs-7">{{cardProduct.tipo}}</span>
                        </div>

                        <div class="d-flex align-items-center mt-5">
                            <div class="d-flex align-items-center border border-1">
                                <button @click="restarValor" class="fw-bold btn btn-success rounded-0">-</button>
                                <p v-if="cardProduct.stock === 0" class="px-3 fuente__pequeña m-0">0</p>
                                <p v-else-if="cardProduct.stock > 0" class="px-3 fuente__pequeña m-0">{{valorCompra}}</p>
                                <button @click="sumarValor" class="fw-bold btn btn-success rounded-0">+</button>
                            </div>
                            <div class="ms-4">
                                <button v-if="cardProduct.stock >= valorCompra" @click="agregarCesta(cardProduct, valorCompra)"
                                    class="btn bg-primario bg-primario-details fw-bold rounded-2 text-light">Añadir al carrito</button>

                                <div v-if="cardProduct.stock === 0">
                                    <p class="fs-7">Se agotó el stock de {{cardProduct.nombre}}. Gracias por comprar en 101Apatita. Si deseas comprar más de nuestros productos</p>
                                    <div>
                                        <a href="./productos.html" class="btn btn-success fuente__pequeña">Ingrese aquí</a>
                                        <button class="btn ms-3 bg-primario-40 fw-bold rounded-2 text-light">Producto Agotado</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footercontact">
            <div class="container pt-5 position-relative">
                <a href="../index.html"><img
                        class="logos position-absolute border-orange top-0 bottom-0 mt-4 mt-md-3 bg-white p-2 rounded-2"
                        src="../img/loguitos/logo_nuevo.svg" alt="Logo 101Apatita"></a>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="py-3 m-0 text-center border-top-orange text-light">Grupo 3 © 2022 <a href="#"><span
                                id="sfooter">101Apatita</span></a>.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</body>

</html>