<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../img/loguitos/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="../css/style.css">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>101Apatita - Carrito de compra</title>

</head>

<body>
    <div id="app" class="d-flex flex-column vh-100">
        <header>
            <section class="bg-primario-black">
                <div class="container d-flex justify-content-between text-light py-1">
                    <p class="m-0 fw-bold">EN</p>
                    <div class="d-flex">
                        <a class="me-3" href=""><img src="../img/icon/instagram.svg" alt="Instagram"></a>
                        <a class="me-3" href=""><img src="../img/icon/facebook.svg" alt="Facebook 101Patita"></a>
                        <a class="me-3" href=""><img src="../img/icon/linkedin.svg" alt="Linkedin 101Patitas"></a>
                        <a href=""><img src="../img/icon/dogAdopta.svg" alt="Adopta 101patita"></a>
                    </div>
                </div>
            </section>
        </header>
        <nav class="position-sticky top-0 start-0 end-0 navbar navbar-expand-lg navbar-light z-index p-0">
            <div class="d-md-flex flex-md-column shadow justify-content-between w-100">
                <div class="bg-primario-black py-2 py-lg-1">
                    <div class="container d-flex justify-content-between flex-wrap">
                        <a class="navbar-brand" href="../index.html"><img class="logo" src="../img/loguitos/favicon.svg"
                                alt="Logo 101Apatita"></a>
                        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <img src="../img/icon/menu.svg" alt="Menu hamburguesa">
                        </button>

                        <div class="d-flex align-items-center">
                            <form class="">
                                <div class="d-flex rounded-pill position-relative">
                                    <input class="fw-bold fuente__pequeña rounded-pill border-0 px-4 py-2 me-2"
                                        type="search" placeholder="Search" aria-label="Search">
                                    <button class="border-0 rounded-pill px-4 position-absolute bottom-0 top-0 end-0"
                                        type="submit"><img src="../img/icon/search.svg" alt="Buscador search"></button>
                                </div>
                            </form>

                            <a class="d-none d-lg-block ms-3 btn btn bg-primario rounded-pill" href="#"><img
                                    src="../img/icon/user.svg" alt="User Login"></a>
                            <p class="text-light my-0 ms-2 d-none d-lg-block btn bg-primario rounded-pill">
                                ${{cestaTotal}}</p>

                        </div>
                    </div>
                </div>

                <section class="bg-primario collapse navbar-collapse" id="navbarScroll">
                    <div class="container d-flex m-auto align-items-center justify-content-center flex-wrap py-2">
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/shopping.svg" alt="Productos">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="./juguetes.html"><img class="mb-1 me-2"
                                            src="../img/iconosNav/toys.svg" alt="Productos de juguetes"> Juguetes</a>
                                </li>
                                <li><a class="dropdown-item" href="./medicamentos.html"><img class="mb-1 me-2"
                                            src="../img/iconosNav/medicine.svg" alt="Productos de medicina">
                                        Medicina</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="./productos.html">
                                        <img class="mb-1 me-2" src="../img/iconosNav/allProducts.svg"
                                            alt="Todos los productos">Todos los productos</a></li>
                            </ul>
                        </li>
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/cat.svg" alt="Productos Gatos">
                                Gatitos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/fish.svg" alt="Productos">
                                Pez
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                        <li class="text-md-center nav-item dropdown col-6 col-md-2">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mb-1" src="../img/iconosNav/bird.svg" alt="Productos">
                                Pajaritos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <a class="text-light col-6 col-md-2 d-md-flex justify-content-md-end"
                            href="./promocionesbancarias.html">
                            <div class="btn rounded-pill bg-primario-black text-light">
                                <img class="mb-1" src="../img/iconosNav/roedores.svg" alt="Contactos">
                                Promociones
                            </div>
                        </a>
                        <a class="nav-link text-light col-6 col-md-2" href="./contacto.html">
                            <div class="btn rounded-pill bg-primario-black text-light">
                                <img class="mb-1" src="../img/iconosNav/otros.svg" alt="Contactos">
                                Contactanos
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </nav>
        <main class="container  flex-auto mb-5">
            <h2 class="text-start fw-bold fs-5 my-5 border-bottom border-2 border-terciario pb-2">Datos del carrito <img
                    src="../img/icon/arrow.svg" alt="Arrow section"> <span class="text-secondary">Compra</span></h2>
            <section class="row">
                <div class="col-12 col-md-6">

                    <div>
                        <h2 class="fs-5 mb-3">Tus productos seleccionados</h2>
                    </div>

                    <div class="my-5" v-if="cesta.length == 0">
                        <h2 class="fs-6">No tiene productos seleccionado - Por favor ingrese productos a su carrito</h2>
                        <a class="btn btn-success" href="./productos.html">Ingrese aquí</a>
                    </div>

                    <div class="text-dark mb-5" v-for="productoAdd in cesta">
                        <li class="d-flex justify-content-start align-items-center my-2">

                            <img class="logo" :src="productoAdd.producto.imagen" :alt="productoAdd.producto.nombre">

                            <span class="px-2 fw-bold text-light bg-primary mx-2 rounded-1">{{productoAdd.cant}}</span>

                            {{productoAdd.producto.nombre}} - ${{productoAdd.cant *
                            productoAdd.producto.precio}}

                            <button class="px-2 pb-1 bg-danger ms-2 text-light fw-bold rounded-circle"
                                @click.stop="quitarCesta(productoAdd.producto._id)">x</button>
                        </li>
                        <p class="border-top text-dark nav-link pt-3" href="#"><b>Subtotal:</b>
                            ${{cestaTotal}} + IVA Consumidor Final</p>
                        <p class="mt-3 text-dark nav-link" href="#"><b>Total:</b>
                            ${{cestaTotal}}</p>
                    </div>

                    <div class="d-none d-md-block">
                        <div class="card border-0">

                            <div class="card__container">

                                <div class="card__front">

                                    <div class="card__front--bg">
                                        <div class="front--bg--s1"></div>
                                    </div>

                                    <div class="card__brand">

                                        <span class="card__brand--logo font-logo">
                                            <img src="../img/icon/dogAdoptaBlack.svg" alt="Compra tarjeta">
                                        </span>

                                        <span class="card__brand--name font-normal">
                                            101PATITA
                                        </span>

                                    </div>

                                    <div class="card__chip">
                                        <div class="card__chip--shape"></div>
                                        <div class="card__chip--shape"></div>
                                        <div class="card__chip--shape"></div>
                                    </div>

                                    <div class="card__extra">
                                        <div class="card__extra--contactless">
                                            <i class="fas fa-wifi"></i>
                                        </div>
                                    </div>

                                    <div class="card__number font-number">
                                        {{numerostarjeta}}
                                    </div>

                                    <div class="card__payment">
                                        <i class="fab fa-cc-visa"></i>
                                    </div>

                                    <div class="card__user">
                                        <span class="card__user--name  font-number">{{nombreyapellido}}</span>
                                        <div class="card__user--valid">
                                            <div class="card__user--valid-txt font-normal">VALİD THRU</div>
                                            <div class="card__user--valid-date  font-number">{{fechaexpiracion}}</div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Mercado libre -->
                    <div class="my-5" v-if="cesta.length == 0">
                        <h2 class="fs-6">Una vez que alla completado el carrito podra tener la opción de pago que desees</h2>
                        <div class="d-flex justify-content-center">
                            <img class="" src="../img/loguitos/nocompres_gif.gif" alt="">
                        </div>
                    </div>
                    <div v-else class="mercadotarjeta-container">
                        <div id="mercadotarjeta-checkout">
                            <h2 class="fs-5">Ingresar datos de Tarjeta</h2>
                            <div class="mercadotarjeta-tarjetas">
                                <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/online/575X40.jpg"
                                    title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" />
                            </div>
                            <form @submit.prevent="tomandoPedido" class="row">
                                <div class="form-group col-6 mt-3">
                                    <label class="">Nombre y Apellido</label>
                                    <input class="form-control" v-model="nombreyapellido" type="text"
                                        placeholder="Ej: Juan Perez">
                                </div>
                                <div class="form-group col-6 mt-3">
                                    <label class="">Nro Tarjeta</label>
                                    <input class="form-control" v-model="numerostarjeta" type="number" maxlength="16"
                                        placeholder="Ej: 1111222233334444">
                                </div>
                                <div class="form-group col-6 mt-3">
                                    <label class="">Tipo Doc.</label>
                                    <input class="form-control" type="text" placeholder="Ej: DNI">
                                </div>

                                <div class="form-group col-6 mt-3">
                                    <label class="">Numero Doc.</label>
                                    <input class="form-control" type="text" placeholder="Ej: 37123456">
                                </div>

                                <div class="col-3 form-group mt-3">
                                    <label class="">Cod. de Seguridad</label>
                                    <div class="mercadotarjeta-input-container">
                                        <input class="form-control" type="number" placeholder="Ej: 123">
                                    </div>
                                </div>

                                <div class="col-3 form-group mt-3">
                                    <label class="">Vencimiento(mm/aa)</label>
                                    <div class="mercadotarjeta-form-vencimiento">
                                        <input class="form-control" v-model="fechaexpiracion" type="text"
                                            placeholder="Ej: 10/26" required>
                                    </div>

                                </div>

                                <div class="col-6 form-group mt-3">
                                    <label class="">Cantidad de Cuotas</label>
                                    <input class="form-control" v-model="cuotas" minlength="1" maxlength="12"
                                        type="text" placeholder="Ej: 1" required>
                                </div>

                                <button  class="mx-auto w-50 btn btn-success mt-4"
                                    type="submit">
                                    <span>Pagar</span>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="footercontact">
            <div class="container pt-5 position-relative">
                <a href="../index.html"><img
                        class="logos position-absolute border-orange top-0 bottom-0 mt-4 mt-md-3 bg-white p-2 rounded-2"
                        src="../img/loguitos/logo_nuevo.svg" alt="Logo 101Apatita"></a>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="py-3 m-0 text-center border-top-orange text-light">Grupo 3 © 2022 <a href="#"><span class="text-light">101Apatita</span></a>.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>